<h3>this is working user show view</h3>  
<h4>Name: <%= @user.name %></h4>
<h4>Alias: <%= @user.alias %></h4>
<h4>Email: <%= @user.email %></h4>
<hr>
<p>Total Number of Posts: <%=@user.ideas.count %></p>
<p>Total Number of Likes: <%=@user.ideas_liked.count %></p>